.card {
  border: 1px solid lightgray;
  padding: 10px;
  position: relative;
}

.card > * {
  display: block;
  margin-bottom: 0;
  margin-top: 0;
}

.card > * + * { 
  margin-top: 10px;
}

/* Makes entire card area a link */
.card a::before {
  bottom: 0;
  content: "";
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}

.card a:focus {
  outline: none;
}

/* Ensure focus ring surrounds entire card */
.card a:focus-visible::before { 
  outline: 1px solid #808080; 
}

/* Fallback for browsers that don't support `:focus-visible` */
.card a:focus::before {
  outline: 1px solid #808080;
}

/* Negate fallback if browser supports `:focus-visible` */
.card a:focus:not(:focus-visible)::before {
  outline: none;
}
