#recover, #recover + div {
  display: none;
}

#recover:target {
  display: block;
}

#recover:target + div {
  display: block;
}

#recover:target ~ #login,
#recover:target ~ #login + div {
  display: none;
}

#recover,
#login {
  scroll-margin-top: 20rem;
}

/* Account and Order content wrapper */

@media screen and (min-width: 990px) {
  .account-order-wrapper {
    display: flex;
  }
  div.account-order-wrapper > div:first-child {
    padding-right: 30px;
    width: 100%;
  }
}

.account-details, .order-adresses-details {
  overflow-x: auto;
}
.customer button {
  margin: 1.5rem 0 1.5rem;
}

.customer summary {
  margin-top: 1.5rem;
}

