.cart-items {
  width: 100%;
  overflow-x: scroll;
  table-layout: fixed;
}

.cart-media {
  display: block;
  width: 100px;
  max-width: 100%;
}

.cart-actions > * + * {
  display: block;
  margin-top: 10px;
}

.line-item-error {
  display: flex;
  margin-top: 10px;
}

@media screen and (min-width: 750px) {
  .cart-items {
    table-layout: initial;
  }
  
  .cart-footer.grid {
    --grid-columns: 2;
  }
}
